*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}


.container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color:#2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}
.main-container{
    background-color:#2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* profile section ka css */
.profile{
    text-align: center;  /* sabhi inline element centre me chale jayenge */
}

.profile img{
   height: 120px;
   width: 120px;
   border-radius: 50%;
   border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}


.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

    
    .dev:hover {
  animation: box 1.5s infinite alternate;
    }

    @keyframes box {
        0% {
        box-shadow: 0 0 5px #00f, 0 0 3px #00f, 0 0 30px #00f;
    }
    100% {
        box-shadow: 0 0 2px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
    }
        
    }



/*  contact section ka css */

.contact{
    margin-top: 40px;
    border-top: 2.5px solid #3a3a3a;
    padding-top: 20px;
    
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email , .phone {
    margin-bottom: 15px;
}

/* social media */
.social{
    margin-top: 40px;
    border-top: 2.5px solid #3a3a3a;
    padding-top: 20px;
      display: flex;
    justify-content: center;   /* centers horizontally */
    align-items: center;       /* centers vertically */
    text-align: center;
    
    
}
.social img{
    
    height: 24px;
    width: 24px;
    margin-left: 15px;
    filter: grayscale(1) invert(0.7); 
    transition: filter 0.3s ease;
    transition: filter 0.5 ease;

    
}

.social img:hover{
        filter: grayscale(0) invert(0);
        height: 40px;
        width: 45px;

}

.social:hover {
  animation: box 1.5s infinite alternate;
}

@keyframes box {
      0% {
    box-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
  }
  100% {
    box-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 60px #0ff;
  }
    
}


/* MAIN CONTENT */
#navigation{
    /* padding: 30px 40px; */
      border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;

}

nav a{
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 500;
    transition: color 0.3 ease ;
  
}

.active , nav a:hover{
    color: #FFBF00;
}
/*  ABOUT ME */

.heading{
    color: #e8e8e8;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 80px;
    height: 5px;
    background-color:#FFBF00;
    margin-bottom: 15px;
}
.main-container{
    text-align: justify;
    color: #a0a0a0;
}

/* SKILLS SECTION */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
    text-align: center;
}
.items{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    transition: transform 0.3s ease , boxshadow 0.3s ease;
}
.items img {
    width: 48px;
    height: 48px;
   filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

.items h3{
    font-size: 1rem;
    font-weight: 500;
}

.items:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px  10px 5px rgba(0, 0, 0, 0.5);
}

/*  EDUCATION section */
